<form #form (ngSubmit)="submit()" [appApiAction]="formPromise" ngNativeValidate autocomplete="off">
  <bit-dialog dialogSize="large">
    <span bitDialogTitle>
      {{ title }}
    </span>
    <span bitDialogContent *ngIf="send">
      <bit-callout *ngIf="disableSend">
        <span>{{ "sendDisabledWarning" | i18n }}</span>
      </bit-callout>
      <bit-callout *ngIf="!disableSend && disableHideEmail">
        <span>{{ "sendOptionsPolicyInEffect" | i18n }}</span>
        <ul class="mb-0">
          <li>{{ "sendDisableHideEmailInEffect" | i18n }}</li>
        </ul>
      </bit-callout>
      <bit-form-field class="tw-w-1/2">
        <bit-label for="name">{{ "name" | i18n }}</bit-label>
        <input
          bitInput
          id="name"
          type="text"
          name="Name"
          [(ngModel)]="send.name"
          required
          [readOnly]="disableSend"
        />
        <bit-hint>{{ "sendNameDesc" | i18n }}</bit-hint>
      </bit-form-field>
      <div class="tw-flex" *ngIf="!editMode">
        <div class="tw-mb-6 tw-w-1/2">
          <bit-label>{{ "whatTypeOfSend" | i18n }}</bit-label>
          <div class="form-check" *ngFor="let o of typeOptions">
            <input
              class="form-check-input"
              type="radio"
              [(ngModel)]="send.type"
              name="Type_{{ o.value }}"
              id="type_{{ o.value }}"
              [value]="o.value"
              (change)="typeChanged()"
              [checked]="send.type === o.value"
            />
            <label class="form-check-label" for="type_{{ o.value }}">
              {{ o.name }}
            </label>
          </div>
        </div>
      </div>
      <!-- Text -->
      <ng-container *ngIf="send.type === sendType.Text">
        <bit-form-field>
          <bit-label for="text">{{ "sendTypeText" | i18n }}</bit-label>
          <textarea
            bitInput
            id="text"
            name="Text.Text"
            rows="6"
            [(ngModel)]="send.text.text"
            [readOnly]="disableSend"
          ></textarea>
          <bit-hint>{{ "sendTextDesc" | i18n }}</bit-hint>
        </bit-form-field>
        <bit-form-control>
          <input
            bitCheckbox
            type="checkbox"
            [(ngModel)]="send.text.hidden"
            id="text-hidden"
            name="Text.Hidden"
            [disabled]="disableSend"
          />
          <bit-label>{{ "textHiddenByDefault" | i18n }}</bit-label>
        </bit-form-control>
      </ng-container>
      <!-- File -->
      <ng-container *ngIf="send.type === sendType.File">
        <div class="tw-flex">
          <div *ngIf="editMode">
            <div class="tw-mb-1 tw-block tw-font-semibold tw-text-main">{{ "file" | i18n }}</div>
            <p bitTypography="body1" class="tw-mb-0">
              {{ send.file.fileName }} ({{ send.file.sizeName }})
            </p>
          </div>
          <bit-form-field *ngIf="!editMode">
            <bit-label for="file">{{ "file" | i18n }}</bit-label>
            <input
              #fileSelector
              type="file"
              id="file"
              class="form-control-file"
              name="file"
              required
              [disabled]="disableSend"
            />
            <bit-hint>{{ "sendFileDesc" | i18n }} {{ "maxFileSize" | i18n }}</bit-hint>
          </bit-form-field>
        </div>
      </ng-container>
      <h4 bitTypography="h4" class="tw-mt-5">{{ "share" | i18n }}</h4>

      <bit-form-field *ngIf="link">
        <bit-label for="link">{{ "sendLinkLabel" | i18n }}</bit-label>
        <input bitInput type="text" readonly id="link" name="Link" [ngModel]="link" />
      </bit-form-field>

      <bit-form-control>
        <input bitCheckbox type="checkbox" [(ngModel)]="copyLink" id="copy-link" name="CopyLink" />
        <bit-label>{{ "copySendLinkOnSave" | i18n }}</bit-label>
      </bit-form-control>
      <div
        id="options-header"
        class="section-header d-flex flex-row align-items-center mt-5"
        (click)="toggleOptions()"
      >
        <h4 bitTypography="h4" class="tw-mb-0 tw-mr-2">
          <button type="button" appStopClick class="header-expandable">
            <i
              class="bwi"
              aria-hidden="true"
              [ngClass]="{ 'bwi-angle-right': !showOptions, 'bwi-angle-down': showOptions }"
            ></i>
            {{ "options" | i18n }}
          </button>
        </h4>
      </div>
      <div id="options" [hidden]="!showOptions">
        <app-send-efflux-dates
          [initialDeletionDate]="send.deletionDate"
          [initialExpirationDate]="send.expirationDate"
          [editMode]="editMode"
          [disabled]="disableSend"
          (datesChanged)="setDates($event)"
        >
        </app-send-efflux-dates>
        <div class="tw-flex">
          <bit-form-field class="tw-w-1/2 tw-pr-3">
            <bit-label for="maxAccessCount">{{ "maxAccessCount" | i18n }}</bit-label>
            <input
              bitInput
              id="maxAccessCount"
              type="number"
              name="MaxAccessCount"
              [(ngModel)]="send.maxAccessCount"
              min="1"
              [readOnly]="disableSend"
            />
            <bit-hint>{{ "maxAccessCountDesc" | i18n }}</bit-hint>
          </bit-form-field>
          <bit-form-field class="tw-w-1/2 tw-pl-3" *ngIf="editMode">
            <bit-label for="accessCount">{{ "currentAccessCount" | i18n }}</bit-label>
            <input
              bitInput
              id="accessCount"
              type="text"
              name="AccessCount"
              readonly
              [(ngModel)]="send.accessCount"
            />
          </bit-form-field>
        </div>
        <div class="tw-flex">
          <bit-form-field class="tw-w-1/2 tw-pr-3">
            <bit-label for="password" *ngIf="!hasPassword">{{ "password" | i18n }}</bit-label>
            <bit-label for="password" *ngIf="hasPassword">{{ "newPassword" | i18n }}</bit-label>

            <input
              bitInput
              id="password"
              type="password"
              name="Password"
              [(ngModel)]="password"
              [readOnly]="disableSend"
            />
            <button type="button" bitIconButton bitSuffix bitPasswordInputToggle></button>
            <bit-hint>{{ "sendPasswordDesc" | i18n }}</bit-hint>
          </bit-form-field>
        </div>
        <bit-form-field>
          <bit-label>{{ "notes" | i18n }}</bit-label>
          <textarea
            bitInput
            id="notes"
            name="Notes"
            rows="6"
            [(ngModel)]="send.notes"
            class="form-control"
            [readOnly]="disableSend"
          ></textarea>
          <bit-hint>{{ "sendNotesDesc" | i18n }}</bit-hint>
        </bit-form-field>

        <bit-form-control>
          <input
            bitCheckbox
            type="checkbox"
            [(ngModel)]="send.hideEmail"
            id="hideEmail"
            name="HideEmail"
            [disabled]="(disableHideEmail && !send.hideEmail) || disableSend"
          />
          <bit-label>{{ "hideEmail" | i18n }}</bit-label>
        </bit-form-control>

        <bit-form-control>
          <input
            bitCheckbox
            type="checkbox"
            [(ngModel)]="send.disabled"
            id="disabled"
            name="Disabled"
            [disabled]="disableSend"
          />
          <bit-label>{{ "disableThisSend" | i18n }}</bit-label>
        </bit-form-control>
      </div>
    </span>
    <ng-container bitDialogFooter>
      <button
        type="submit"
        [loading]="form.loading"
        [disabled]="form.loading || disableSend"
        bitButton
        buttonType="primary"
      >
        {{ "save" | i18n }}
      </button>
      <button type="button" bitButton buttonType="secondary" bitDialogClose>
        {{ "cancel" | i18n }}
      </button>

      <button
        #deleteBtn
        *ngIf="send"
        type="button"
        class="tw-ml-auto"
        bitIconButton="bwi-trash"
        buttonType="danger"
        title="{{ 'delete' | i18n }}"
        [bitAction]="delete"
        [disabled]="$any(deleteBtn).loading"
      ></button>
    </ng-container>
  </bit-dialog>
</form>
